

<button (click)="changeSum(20)" [class.sum-active]="sum === 20">20€</button>
<button (click)="changeSum(50)" [class.sum-active]="sum === 50">50€</button>
<button (click)="changeSum(100)" [class.sum-active]="sum === 100">100€</button>
@if (inputShown) {
  <input [(ngModel)]="inputSum" type="number">
  <button (click)="changeSum(inputSum)">v</button>
} @else {
  @if (inputSum === undefined || inputSum === 0) {
    <span (click)="showInput()">Valin ise summa</span>
  } @else {
    <button (click)="showInput()" class="sum-active">{{inputSum}}€</button>
  }
}
<br /><br />

<div>Kinkekaart {{ sum }}€</div>

<br><br>
<div>{{ message }}</div>

<br><br><br>

<button [disabled]="quantity === 1" (click)="decreaseQuantity()">-</button>
<span>{{ quantity }}</span>
<button (click)="increaseQuantity()">+</button>

<div>{{ quantity * sum }}</div>

<input [(ngModel)]="receiverInfoShown" type="checkbox">


@if (receiverInfoShown) {
    <label>Kingi tegija nimi</label>
    <input [(ngModel)]="gifterName" type="text"> <br>
    <label>Kingi saaja nimi</label>
    <input [(ngModel)]="receiverName" type="text"> <br>
    <label>Kingi saaja email</label>
    <input [(ngModel)]="receiverEmail" type="text"> <br>
}


<button (click)="addToCart()">Lisa ostukorvi</button>