<button routerLink="/add-product">Lisa toode 1</button>
<button routerLink="/lisa-toode">Lisa toode 2</button>
<button routerLink="/maintain-products">Halda tooteid</button>

<br><br><br>

<button routerLink="/supplier-store">Võta hankija riided</button>
<button routerLink="/supplier-books">Võta hankija raamatud</button>
<button routerLink="/supplier-escuela">Võta hankija tooted</button>
<button routerLink="/rest-countries">Võta riigid</button>

<button routerLink="/floods">Floods</button>
<button routerLink="/electricity">Electricity</button>