<div>{{kuupaev | date:'dd.MM.YYYY HH:mm'}}</div>
<div>{{number | percent }}</div>
<div>{{number * 100 }}%</div>
<div>{{number | currency:'EUR' }}</div>

<div>{{tooted.length}} tk</div>

<button (click)="sorteeriAZ()">{{"sort-az" | translate}}</button>
<button (click)="sorteeriZA()">{{"sort-za" | translate}}</button>
<button (click)="sorteeriTahedKasv()">Sorteeri tähemärgid kasvavalt</button>
<button (click)="sorteeriTahedKah()">Sorteeri tähemärgid kahanevalt</button>
<button (click)="sorteeriKolmasTahtAZ()">Sorteeri kolmas täht A-Z</button>

<br><br>

<button (click)="filtreeriLoppevadTahegaA()">Jäta alles 'a' tähega lõppevad</button>
<button (click)="filtreeriTapselt5Tahelised()">Jäta alles täpselt 5 tähelised</button>
<button (click)="filtreeriKuniVoiTapselt6Tahelised()">Jäta alles väiksem või võrdsed kui 6 tähelised</button>
<button (click)="filtreeriKellelLyhendBE()">Jäta alles kellel sõnalühend 'be' sees</button>
<button (click)="filtreeriKolmasTahtS()">Jäta alles kellel kolmas täht 's'</button>

<br><br>

<label>Otsi</label>
<input [(ngModel)]="otsing" (ngModelChange)="otsi()" type="text">
<!-- <button (click)="otsi()">Otsi</button> -->

@for (toode of tooted; track toode) {
  <br>
  <img class="product-image" src={{toode.pilt}} alt="">
  <!-- <img [src]="toode.pilt" alt=""> -->

  <div>{{toode.nimi}}</div>
  <div>{{toode.hind}} €</div>
  <button [disabled]="toode.aktiivne === false" (click)="lisaOstukorvi(toode)">{{"add-to-cart"  | translate}}</button>
  <button routerLink="{{'/toode/' + toode.nimi}}">Vt lähemalt</button>
  <!-- <button [routerLink]="['/toode/', toode.nimi]">Vt lähemalt</button> -->
  <br>
}
