<form class="contact-form" (submit)="sendEmail($event)">
  <label>Name</label> <br>
  <input type="text" name="from_name"> <br>
  <label>Email</label> <br>
  <input type="email" name="from_email"> <br>
  <label>Message</label> <br>
  <textarea name="message"></textarea> <br>
  <!-- <input type="submit" value="Send"> <br> -->
  <label>Rating</label> <br>
  <input min="1" max="5" type="range" name="rating">
  <!-- <p-rating [(ngModel)]="value" name="rating" /> <br> -->
  <button>Send</button>
</form>