<div>{{sonum}}</div>

<label>Toote nimi</label> <br>
<textarea [(ngModel)]="lisatavaTooteNimi" extender></textarea> <br>
<label>Toote hind</label> <br>
<input [(ngModel)]="lisatavaTooteHind" type="number"> <br>
<label>Toote pilt</label> <br>
<input [(ngModel)]="lisatavaTootePilt" type="text"> <br>
<label>Toote aktiivne</label> <br>
<input [(ngModel)]="lisatavaTooteAktiivne" type="checkbox"> <br>
<button [disabled]="lisatavaTooteNimi === '' || lisatavaTooteHind <= 0 || lisatavaTooteHind === null" (click)="lisaToode()">{{"add-product" | translate}}</button>

<div>Olemasolevad tooted:</div>
@for (toode of tooted; track toode) {
  <div>{{$index + 1}}. {{toode.nimi}}</div>
}
